@import "../../../css/variables.scss";

.hero {
	background: $surface-tertiary;
	padding: 56px 0;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (min-width: $tablet) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	@media screen and (min-width: $desktop) {
		div.title::before {
			content: url(../../../../images/hero-title-before.svg);
		}
		div.title::after {
			content: url(../../../../images/hero-title-after.svg);
			position: absolute;
			right: -74px;
			bottom: 34px;
		}
	}
	.title {
		position: relative;
		max-width: 360px;

		@media screen and (min-width: $tablet) {
			margin-top: 105px;
		}

		@media screen and (min-width: $desktop) {
			max-width: 575px;
			margin-top: 170px;
		}

		p {
			font-family: "Helvetica Now for Monks", sans-serif;
			font-weight: 800;
			font-size: 20px;
			height: 28.5px;
			display: table;
			margin: 0 0 8px 0;
			padding-right: 4px;

			@media screen and (min-width: $mobile) {
				font-size: 24px;
				height: 34.5px;
			}

			@media screen and (min-width: $desktop) {
				font-size: 48px;
				line-height: 68px;
				height: 68px;
				margin: 0 0 16px 0;
			}
		}
	}
	.subtitle {
		margin-top: 16px;
		max-width: 360px;
		padding: 0;

		@media screen and (min-width: $desktop) {
			max-width: 570px;
		}

		p {
			font-family: "Space Grotesk", sans-serif;
			font-size: 14px;
			width: auto;
			display: inline-block;
			margin: 0 0 4px 0;

			@media screen and (min-width: $mobile) {
				font-size: 16px;
			}

			@media screen and (min-width: $desktop) {
				font-size: 20px;
				line-height: 30px;
				margin: 0 -4px 8px 0;
				padding-right: 8px;
			}
		}
	}

	.form-wrapper {
		margin-top: 16px;
		position: relative;
		max-width: 360px;

		@media screen and (min-width: $desktop) {
			max-width: 420px;
			margin-top: 56px;
		}

		.form {
			position: relative;
			z-index: 10;
			border: 1px solid $black;
			border-radius: 8px;
			padding: 32px 24px;
			background: $surface-quaternary;
			display: flex;
			flex-direction: column;
			align-items: center;

			@media screen and (min-width: $desktop) {
				padding: 60px 40px;
			}

			.title {
				color: $primary;
				font-family: "Helvetica Now for Monks", sans-serif;
				font-weight: 400;
				font-size: 24px;
				line-height: 34px;
				text-align: center;
				margin: 0;

				@media screen and (min-width: $desktop) {
					font-size: 32px;
					line-height: 46px;
				}
			}

			.subtitle {
				color: $primary;
				margin: 0 auto;
				display: inline-block;
				max-width: 228px;
				font-family: "Space Grotesk", sans-serif;
				font-weight: 400;
				font-size: 14px;
				line-height: 21px;
				text-align: center;
				margin-top: 16px;

				@media screen and (min-width: $desktop) {
					max-width: 273px;
					font-size: 16px;
					line-height: 24px;
					margin-bottom: calc(40px - 16px);
				}
			}

			label {
				background: $white;
				width: calc(100% - 40px);
				padding: 8px 20px;
				margin-top: 16px;
				display: flex;
				flex-direction: column;
				border-radius: 4px;
				font-family: "Nunito Sans", sans-serif;
				font-weight: 400;
				font-size: 12px;
				line-height: 16px;
				color: $surface-secondary;

				input {
					border: none;
					font-family: "Nunito Sans", sans-serif;
					font-weight: 400;
					font-size: 16px;
					line-height: 24px;
				}
			}

			button {
				width: 100%;
				margin-top: 16px;
				font-weight: 400;
				cursor: pointer;
			}

			.label-checkbox {
				flex-direction: row;
				background: none;
				color: $primary;
				padding: 0;
				width: 100%;
				font-family: "Space Grotesk", sans-serif;
				font-weight: 400;
				font-size: 12px;
				line-height: 18px;

				input {
					margin-right: 10px;
					transform: scale(1.25);
				}
			}
		}

		.shadow {
			position: absolute;
			z-index: 9;
			border: 1px solid #000;
			border-radius: 8px;
			width: 100%;
			height: calc(100% - 8px);
			top: 14px;
			left: 8px;

			@media screen and (min-width: $desktop) {
				left: 16px;
				height: 100%;
			}
		}
	}
}
