$primary: #0d3842;
$secondary: #4dbac1;
$tertiary: #e1ff9a;
$quaternary: #bafff1;

$surface-primary: #2d2d2d;
$surface-secondary: #656982;
$surface-tertiary: #eeeeee;
$surface-quaternary: #d0d0d0;

$black: #1c1c1c;
$white: #fff;

$mobile: 360px;
$tablet: 768px;
$desktop: 1366px;
