.content-404 {
	padding: 60px 0;
	font-weight: 300;
	text-align: center;
}

.content-404 .section-title {
	font-weight: 300;
}

.content-404 .section-description {
	margin-bottom: 20px;
}

.content-404 .page-404-description {
	font-size: 1.25rem;
	color: #a6a29f;
	margin-bottom: 40px;
}

.content-404 .cta-btn {
	background-color: var(--cta-color);
	color: var(--cta-text-color);
	border: 1px solid var(--cta-text-color);
}

@media (min-width: 768px) {
	.content-404 {
		max-width: 479px;
		margin: 70px auto 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.content-404 .page-404-description {
		margin-bottom: 52px;
	}
}

@media (min-width: 1366px) {
	.content-404 {
		max-width: 662px;
		min-height: calc(100vh - 461px);
		padding: 100px 0;
		box-sizing: border-box;
	}
}
