.header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--second-text-color);
	font-size: 1rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	position: fixed;
	top: 0;
	width: 100vw;
	transition: all 0.3s linear;
	z-index: 20;
}

main {
	min-height: 2000px;
}

.header .logo img {
	max-width: 300px;
	height: auto;
	max-height: 100px;
	margin-right: 2rem;
}

.header .logo a {
	color: var(--second-text-color);
	transition: all 0.3s linear;
	font-size: 2rem;
	font-weight: bold;
}

.menu-container {
	background-color: #fff;
	color: var(--second-text-color);
	font-weight: bold;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	padding: 1rem 2rem;
	min-height: 100vh;
	font-size: 1.25rem;
	margin: 0 2rem 0 0;
	box-shadow: 0 0 10px rgb(0 0 0 / 20%);
	transform: translate(-120vw);
	transition: transform 0.3s linear;
}

.menu-container.open {
	transform: translate(0);
}

.header-menu {
	margin: 0;
	list-style: none;
	padding: 0 0 0.75rem;
	border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
}

.close-menu-mobile {
	display: block;
	padding-bottom: 0.75rem;
	margin-bottom: 0.5rem;
	border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
	text-align: right;
}

.close-menu-mobile svg {
	width: 25px;
	height: 25px;
}

.header-menu li {
	padding: 0.75rem 0;
}

.header-menu a {
	color: var(--second-text-color);
	transition: all 0.3s linear;
}

.header .toggle-menu {
	cursor: pointer;
	padding: 4px 0 4px;
}

.header .toggle-menu .menu-part {
	display: block;
	height: 3px;
	width: 29px;
	background-color: var(--second-text-color);
	margin: 5px 0;
	transition: 200ms ease-out;
	transition: all 0.3s linear;
}

.header .social-media {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}

.header .social-media a {
	padding: 0.75rem;
	display: block;
}

.header .social-media a svg {
	fill: var(--second-text-color);
	width: 20px;
	height: 20px;
}

.header .social-media a svg path {
	fill: var(--second-text-color);
}

.change.header {
	background-color: var(--main-color);
	border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
	box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.change.header .logo a {
	color: var(--main-text-color);
}

.change.header .toggle-menu .menu-part {
	background-color: var(--main-text-color);
}

.change.header .social-media a svg path {
	fill: var(--main-text-color);
}

@media (min-width: 1024px) {
	.header-menu a {
		color: var(--second-text-color);
	}

	.menu-container {
		flex-grow: 2;
		transform: none;
		background-color: transparent;
		position: static;
		padding: 0;
		box-shadow: none;
		min-height: initial;
		width: initial;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.menu-container .header-menu {
		display: flex;
		justify-content: center;
		border: none;
		padding: 0;
		margin: 0 auto;
		align-items: center;
	}

	.menu-header-container {
		flex-grow: 2;
		text-align: center;
	}

	.header-menu li {
		padding: 0 2rem;
	}

	.header .social-media {
		margin-top: 0;
	}
	.header .social-media a {
		padding: 0 0.75rem;
	}

	.change .header-menu a {
		color: var(--main-text-color);
	}

	.header .menu-menu-container {
		flex-grow: 1;
		margin-right: 2rem;
	}
}

.cta-btn {
	display: inline-block;
	padding: 11px 20px;
	border-radius: 5px;
	font-size: 14px;
	background-color: var(--cta-color);
	color: var(--cta-text-color);
	transform: perspective(1px) translateZ(0);
	transition: all 200ms ease-in-out;
}
